<div class="mt-5 topic_container rounded-3 mx-auto mb-5 w-75">
	<div class="d-flex justify-content-between px-4 pt-3">
		<span class="fs-3">{{topic.name}}</span>
		{% if not subject_single_view %}
		<span class="fs-5"> {{topic.associated_subject.name}} </span>
		{% endif %}
	</div>
	<div class="px-4 pb-3">
		{% if topic_single_view %}
		<div class="text-end">
			<a
				href="{% url 'add_topic' topic.associated_subject.associated_group.id topic.associated_subject.id %}"
			>
				<button
					class="rounded-3 border-0 fs-5 py-1 px-1 mx-1 form_submit_button"
				>
					Cover Topic
				</button>
			</a>
		</div>
		{% endif %}
		<div class="action_buttons">
			{% if not topic_single_view %}
			<a
				href="{% url 'topic' topic.associated_subject.associated_group.id topic.associated_subject.id topic.id %}"
			>
				<button
					class="rounded-pill border-0 fs-5 px-5 py-1 mx-1 form_submit_button"
				>
					View
				</button>
			</a>
			{% endif %}
			<a
				href="{% url 'update_topic' topic.associated_subject.associated_group.id topic.associated_subject.id topic.id %}"
			>
				<button
					class="rounded-pill border-0 fs-5 px-5 py-1 mx-1 form_submit_button"
				>
					Update
				</button>
			</a>
			<a
				href="{% url 'delete_topic' topic.associated_subject.associated_group.id topic.associated_subject.id topic.id %}"
			>
				<button
					class="rounded-pill border-0 fs-5 px-5 py-1 mx-1 form_submit_button"
				>
					Delete
				</button>
			</a>
		</div>
	</div>
</div>
