<div class="w-75 mt-5 holder_container rounded-3 mx-auto mb-5">
  <div class="d-flex justify-content-between px-4 py-3">
    <span class="fs-3">{{group.name}}</span>
    <span class="fs-5">
      {% if group.currently_active %} * Active {% endif %}
    </span>
  </div>
  <div class="px-4 pb-3">
    <a href="{% url 'update_group' group.id %}">
      <button
        class="rounded-pill border-0 fs-5 px-5 py-1 mx-1 form_submit_button"
      >
        Update
      </button>
    </a>
    <a href="{% url 'delete_group' group.id %}">
      <button
        class="rounded-pill border-0 fs-5 px-5 py-1 mx-1 form_submit_button"
      >
        Delete
      </button>
    </a>
    <a href="{% url 'group' group.id %}">
      <button
        class="rounded-pill border-0 fs-5 px-5 py-1 mx-1 form_submit_button"
      >
        View
      </button>
    </a>
  </div>
</div>
